/* ===== BASE ===== */

body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  margin: 0;
  padding: 0;

}

.hidden {
  display: none !important;
}

#app {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 10px;
}

/* ===== CARDS ===== */

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* ===== INPUTS ===== */

input, select, button {
  width: auto;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.link {
  margin-top: 10px;
  color: #2563eb;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
}

.login-link {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.button-group button,
#btnLogin,
#btnRegister {
  width: 12,5%;
}
button {
  background: #2563eb;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

button:hover {
  background: #1e4ed8;
}

/* ===== HEADER ===== */

#mainHeader {
  background: linear-gradient(90deg, #630404, #860707);
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  box-sizing: border-box;
}

/* logo + título */
.logo-area {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo-img {
  width: 130px;
}

.header-title {
  font-size: 28px;
  font-weight: 700;
}

.notificacao-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sino {
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3b30;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* perfil */
.header-perfil {
  display: flex;
  align-items: flex-start;
  margin-left: 4px;
  color: white;
  cursor: pointer;
}

.usuario-box {
  transform: translateY(2px);
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.1;
  padding-top: 2px;
}


.usuario-box strong {
  font-size: 15px;
  font-weight: 600;
}

.usuario-box small {
  font-size: 12px;
  opacity: .85;
}

.header-perfil:hover {
  background: rgba(255,255,255,0.15);
}

/* botão ⋮ */
.menu-btn {
  background: transparent;
  font-size: 20px;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background 0.2s;
}

.menu-btn:hover {
  background: rgba(255,255,255,0.15);
}

.sidebar {
  position: fixed;
  top: 92px !important; 
  height: calc(100vh - 92px);
  left: 0;
  width: 0;
  overflow: hidden;
  background: #1c1f33;
  color: white;
  transition: .3s ease;
  z-index: 999;
}

#app {
  margin-left:20px;
  margin-right: 20px;
  transition: margin-left .3s ease;
}

#app.sidebar-open {
  margin-left: 300px;
}

.sidebar.open {
  width: 240px;
  padding: 20px;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item,
.menu-principal {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.menu-item:hover,
.menu-principal:hover {
  background: #c21c1c;
}

.submenu {
  margin-left: 15px;
  margin-top: 8px;
}

.hidden {
  display: none !important;
}
/* ===== MENUS ===== */

.perfil-wrapper,
.menu-wrapper {
  position: relative;
}

.menu-btn {
  background: transparent;
  color: white;
  font-size: 20px;
}

.perfil-menu,
.menu-dropdown {
  position: absolute;
  top: 32px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 2000;
  min-width: 160px;
}

.menu-dropdown {
  right: 0;
}

.perfil-menu {
  right: 0;
  left: auto;
  transform: none;
}

.perfil-menu button,
.menu-dropdown button {
  width: 100%;
  text-align: left;
  padding: 10px 14px;
  background: none;
  border: none;
  font-weight: bold;
  color: #333;
}

.perfil-menu button:hover,
.menu-dropdown button:hover {
  background: red;
  color: white;
}

/* ===== CHECKLIST ===== */

#checklistForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* GRUPOS */

.grupo-bloco {
  border: 2px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

.grupo-titulo {
  padding: 10px;
  font-weight: bold;
  background: #f1f1f1;
}

/* FERRAMENTA */

.ferramenta-item {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background: #f9f9f9;
}

.ferramenta-item[open] {
  background: #f0f7ff;
  border-color: #2563eb;
}

.ferramenta-header {
  padding: 10px 12px;
  cursor: pointer;
}

.ferramenta-detalhes {
  padding: 10px 12px;
}

/* PERGUNTAS */

.pergunta-grupo {
  margin-bottom: 8px;
}

.pergunta-grupo p {
  margin: 6px 0;
  font-size: 13px;
  font-weight: 600;
}

/* OPÇÕES */

.opcoes-horizontal {
  display: flex;
  gap: 10px;
  align-items: center;
}

.opcoes-horizontal label {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

/* CHECKBOX */

.checkbox-linha {
  display: inline-flex; /* ✅ ESSA LINHA MUDA TUDO */
  align-items: center;
  gap: 6px;
}
.checkbox-linha input {
  margin: 0;
}

/* FOTOS */

.fotos-grupo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.preview-foto {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
  transition: transform 0.2s;
}

.preview-foto:hover {
  transform: scale(1.05);
}
.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* STATUS */

.ok {
  color: green;
  font-weight: bold;
}

.problema {
  color: #d97706;
  font-weight: bold;
}

.pendente {
  color: red;
  font-weight: bold;
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 🔥 aqui está o segredo */
  padding-top: 60px; /* distância do topo */
  background: rgba(0,0,0,0.5);
  z-index: 999;
  overflow-y: auto;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;

  width: 90%;
  max-width: 400px;
  position: relative;
  box-sizing: border-box;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px; /* 🔥 IMPORTANTE */
  left: auto;
  font-size: 20px;
  cursor: pointer;
  color:#ff0000;
}
.grupo-bloco {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 12px;
  background: #fafafa;
}

.grupo-titulo {
  padding: 12px;
  font-weight: bold;
  background: #e5e7eb;
  border-radius: 8px;
}

.ferramenta-item {
  border-radius: 6px;
  margin: 6px;
  border: 1px solid #ddd;
  background: #fff;
  transition: all 0.2s ease;
}

.ferramenta-item:hover {
  background: #f5f5f5;
}
.ferramenta-item[open] {
  background: #eef5ff;
  border-color: #2563eb;
}

.ferramenta-header {
  padding: 12px;
  font-weight: 500;
  cursor: pointer;
}
.card {
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

#regrasView,
#regrasTecnicoView,
#homeView {
  border-left: 4px solid #860707;
  padding-left: 16px; /* ✅ dá respiro do texto */
}

.status-pendente {
  color: #d97706;
  font-weight: bold;
}

.status-aprovado {
  color: green;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 6px;
}

.status-reprovado {
  color: red;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 6px;
}

.status-retirado {
  color: #2563eb;
  font-weight: bold;
   padding: 3px 6px;
  border-radius: 6px;
}

td button {
  width: auto;
  padding: 6px 10px;
  font-size: 14px;
}

input {
  margin-top: 5px;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.acoes {
  display: flex;
  gap: 6px;
}

.card-compra button {
  width: auto;         /* 🔥 remove full width */
  display: inline-block;
  margin-right: 6px;
  padding: 6px 10px;
}

.nome-tecnico {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}

.nome-tecnico:hover {
  text-decoration: underline;
}

.nome-tecnico-maleta {
  color: #2563eb;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 500;
}

.nome-tecnico-maleta:hover {
  text-decoration: underline;
}

#tabelaTecnicos td {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #f3f4f6;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

.tabela-wrapper {
  overflow-x: auto;
}

@media (max-width: 768px) {
  
  th, td {
    font-size: 12px;
    padding: 6px;
  }

  h2 {
    font-size: 18px;
  }

}

@media (max-width: 768px) {

  .modal-content {
    width: 95%;
    max-width: none;
  }
}

@media (min-width: 768px) {
  .header-inner {
  width: 100%;
  box-sizing: border-box;
  }
}

@media (max-width: 768px) {

 .logo-img {
  height: 40px;
  width: auto;
}
}

@media (max-width: 768px) {
  .logo-img {
    height: 28px;
  }
}

@media (max-width: 768px) {

  .header-title {
    font-size: 14px;
  }
}

@media (max-width: 768px) {

  .header-inner {
    padding: 8px 10px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #f3f4f6;
}

#listaTecnicosMaletas tr {
  cursor: pointer;
}

#listaTecnicosMaletas tbody tr:hover {
  background-color: #f1f5f9;
}

#listaTecnicosMaletas tbody tr:hover td {
  color: #2563eb;
}

#listaTecnicosMaletas td {
  transition: color 0.2s ease;
}

.mes-item {
  display: inline-block;
  padding: 6px 12px;
  background-color: #e5e7eb;
  border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 8px;
}

.mes-item:hover {
  background-color: #d1d5db;
}

#btnExportarExcel {
  background-color: #433a3a;
  color: white;

  padding: 8px 14px;
  border-radius: 8px;
  border: none;

  font-size: 13px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 6px;

  transition: 
  background 0.2s ease;
}

#btnExportarExcel:hover {
  background-color: #6a1e1e;
}

.problema {
  color: orange;
  font-weight: bold;
}

.ok {
  color: green;
}

.pendente {
  color: red;
}

.em_espera {
  color: gray;
}

#estatisticasView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 🔥 container centralizado MESMO */
.canvas-container {
  width: 100%;
  max-width: 400px;
  height: 350px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}

/* 🔥 canvas absolutamente centralizado */
.canvas-container canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* 🔥 ativo aparece */
canvas.active {
  display: block;
}

select {
  padding: 6px 10px;
  border-radius: 6px;
}

#estatisticasView select {
  margin: 5px;
}

.documento-card{
  background:#fff;
  border:1px solid #ddd;
  border-radius:10px;
  padding:15px;
  margin-bottom:15px;
}

.documento-card h3{
  margin-bottom:8px;
}

.documento-card button{
  background:#2c6cf6;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:6px;
  cursor:pointer;
}

button:hover {
  background: #1e4ed8;
}

.pasta-tecnico {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
}

.pasta-tecnico summary {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.pasta-tecnico[open] summary {
  margin-bottom: 15px;
}

.btn-aprovar,
.btn-editar,
.btn-reprovar {

  border: none;
  border-radius: 6px;

  padding: 6px 10px;

  margin: 0 2px;

  cursor: pointer;

  font-size: 14px;

  transition: 0.2s;
}

.btn-aprovar {
  background: #1f8f3a;
  color: white;
}

.btn-aprovar:hover {
  background: #16692b;
}

.btn-editar {
  background: #f5f5f5;
  color: #444;
  border: 1px solid #ddd;
}

.btn-editar:hover {
  background: #e9e9e9;
}

.btn-reprovar {
  background: #b00000;
  color: white;
}

.btn-reprovar:hover {
  background: #8f0000;
}

.btn-emespera {
  background: #f5f4d0;
  color: #444;
  border: 1px solid #d1d5db;
}

.btn-emespera:hover {
  background: #f7f4a3;
}

.acao-link {
  cursor:pointer;
  font-weight:600;
  padding:4px;
}

.comentario-espera {
  display: block;
  margin-top: 4px;
  font-size: 13px;
  color: #282828;
  font-style: italic;
}

.compra-card {

  background: #fff;

  border: 1px solid #ddd;

  border-radius: 8px;

  padding: 15px;

  margin-bottom: 15px;
}

.compra-card h3 {
  margin-top: 0;
}

#adminView td,
#adminView th {
  text-align: center;
  vertical-align: middle;
}

.tipo-normal {
  color: green;
  font-weight: bold;
}

.tipo-emergencial {
  color: red;
  font-weight: bold;
}

.btn-whatsapp {
  background: #44a668;
  color: white;
}

.btn-whatsapp:hover {
  background: #35784f;
}

.btn-nota {
  background: #4065b4;
  color: white;
}

.btn-nota:hover {
  background: #21396c;
}
.btn-solicitar,
.btn-confirmarImportacao,
.btn-importar {
  background: #1493ac;
}
.btn-solicitar:hover,
.btn-confirmarImportacao:hover,
.btn-importar:hover {
  background: #1a8094;
}

.btn-visualizar {
  background: #0867c0;
}

.btn-visualizar:hover {
  background: #074988;
}


.submenu {
  margin-left: 35px;
  margin-top: 6px;
}

.submenu li {
  list-style: none;
  color: white;
  padding: 3px 0 4px 35px;
  cursor: pointer;
  font-size: 14px;
}

.submenu li:hover {
  color: #ffcccc;
}

.submenu li::before {
  content: "↳";
  display: inline-block;
  margin-right: 1px;
  color: #aab1c5;
}

.cards-compras{
  display:grid;
  grid-template-columns:
    repeat(4, 1fr);
  gap:10px;
}

.card-topo{
  display:flex;
  align-items:center;
  gap: 12px;
  margin-bottom: 8px;
}

.card-icone{
  width:28px;
  height:28px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:15px;
  font-size: 20px;
}

.card-indicador > span{
  font-size:13px;
  color:#64748b;
  font-weight:500;
}

.pendente .card-icone{
  background:#fff7e6;
}

.emergencia .card-icone{
  background:#feecec;
}

.aprovado .card-icone{
  background:#eafbf0;
}

.reprovado .card-icone{
  background:#f2f4f7;
}

.pendente{
  border-left:4px solid #f59e0b;
}

.emergencia{
  border-left:4px solid #ef4444;
}

.aprovado{
  border-left:4px solid #22c55e;
}

.reprovado{
  border-left:4px solid #9ca3af;
}

.card-indicador{
  background:white;
  border-radius:12px;
  padding:10px;
  flex:1;
  min-width:180px;
  box-shadow:0 2px 6px rgba(0,0,0,.08);
}

.card-indicador h3{
  margin:0;
  font-size:26px;
}

.titulo-emergencial{
  background:#fff1f2;
  color:#dc2626;
  padding:15px;
  font-weight:700;
  border-radius:12px 12px 0 0;
  margin-top:20px;
}

.titulo-normal{
  background:#f0fdf4;
  color:#16a34a;
  padding:15px;
  font-weight:700;
  border-radius:12px 12px 0 0;
  margin-top:20px;
}

.titulo-emergencial,
.titulo-normal{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.badge-titulo{
  background:white;
  padding:4px 10px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
}

table {
  width:100%;
  border-collapse:collapse;
  background:white;
}

thead {
  background:#f8fafc;
}

th {
  font-size:12px;
  text-transform:uppercase;
  color:#64748b;
}

td,
th {
  padding:15px;
  border-bottom:1px solid #e5e7eb;
}

.status-badge{
  display:inline-flex;
  align-items:center;
  padding:6px 12px;
  border-radius:999px;
  font-size:12px;
  font-weight:600;
}

.status-pendente{
  background:#fff8e6;
  color:#f59e0b;
}

.status-aprovado{
  background:#ecfdf5;
  color:#16a34a;
}

.status-reprovado{
  background:#fef2f2;
  color:#dc2626;
}

.card-indicador h3{
    margin:0;
    line-height:1;
}

.card-indicador span{
    display:block;
    margin-top:4px;
}

.card-icone i{
  position:relative;
  top:4px;
  left:4px;
}

.pendente-icon{
  color:#f59e0b;
}

.emergencia-icon{
  color:#ef4444;
}

.aprovado-icon{
  color:#22c55e;
}

.reprovado-icon{
  color:#64748b;
}

.emergencia{
  border-left:4px solid #ef4444;
}

.emergencia h3{
  color:#d52323;
}

.pendente h3{
  color:#d78f11;
}

.aprovado h3{ 
  color: #187c4f
}

.reprovado h3{
  color: #403f3f
}
